@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    var user = HAFD.Helpers.TempUser.loginResponse;
}
@model HAFD.DTOs.LoginResponseDTO

@{ if (@user != null)
    {
    <div class="">
        <img src="data:image/png;base64, @Convert.ToBase64String(user.Image)">
        <h2 class="text-left">@user.Firstname @user.Lastname</h2>
        <div class="row text-left">
            <h5 class="col-md-6 ">Email: @user.Email</h5>
            <h5 class="col-md-6">Phone Number: @user.PhoneNumber</h5>
        </div>
        <div class="row text-left">
            <h5 class="col-md-6">Gender: @user.Gender</h5>
            <h5 class="col-md-6">Department: @user.Department</h5>
        </div>
    </div>
    }
}