@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewData["Title"] = "Verification";
}

@{ if (HAFD.Helpers.TempUser.VerificationResult != null)
    {
        foreach (var user in HAFD.Helpers.TempUser.VerificationResult)
        {
            <div class="text-left">
                <h2 class="text-center heading mb-5">Verification Result</h2>
                <img src="data:image/png;base64, @Convert.ToBase64String(@user.Image)" style="border-radius:50%;width: 150px;height: 150px;">
                <h2 class="text-left m-3">@user.Firstname @user.Lastname</h2>
                <div class="row">
                    <h5 class="col-md-6">Email: @user.Email</h5>
                    <h5 class="col-md-6">Phone Number: @user.PhoneNumber</h5>
                </div>
                <div class="row">
                    <h5 class="col-md-6">Gender: @user.Gender</h5>
                    <h5 class="col-md-6">Department: @user.Department</h5>
                </div>
                <div class="row mt-3">
                    <h5 class="col-md-6">Hostel: @user.Hostel?.Name</h5>
                    <h5 class="col-md-6">Room: @user.Hostel?.Room</h5>
                    <h5 class="col-md-6">Corner: @user.Hostel?.Corner</h5>
                </div>
            </div>
        }
    }
}